.gallery {
    width: 100%;
    display: flex;    
    flex: row warp;
}

.gallery>div {
    width: 20em;
    height: 10em;
    background-color: whitesmoke;
    border: tomato 1px solid;
    padding: 0.5em;
    margin: 0.5em;
}

.gallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}